nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  nav a {
    text-decoration: none;
    color: red;
  }

header, footer {
    width: 100%;
    box-sizing: border-box;
  }

/* Global background + font */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    font-family: "Poppins", Arial, sans-serif;
  }
  
  
section {
    margin: 0;
    padding: 0;
  }
  
  